
<!-- External CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<nav>
  <div class="navigator">
    <a id=home href="/home">HOME </a>
    <a id=create href="/quiz/new">CREATE </a>


    <form class="search-bar" action="/quiz">
      <input type="text" placeholder="Search a category..." name="search" required>
      <div>
        <button id= search-button type="submit"><i class="fa fa-search"></i></button>
      </div>

      <!-- need to figure out a way to filter based on category on the home page and/or a new page with generated quizzes -->
    </form>

  </div>
</nav>
