<!-- External CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<nav>
  <div class="navigator">
    <a id=create href="/quiz/new">CREATE </a>
    <a id=home href="/home">HOME </a>

  </div>
</nav>
