<!DOCTYPE html>
<html lang="en">

<head>
  <title>Do Quiz</title>
  <link rel="stylesheet" href="/styles/attemptquiz.css" type="text/css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
</head>

<body>
  <nav>
    <div class="navigator">
      <a id=home href="/home">HOME </a>
      <br>
      <a id=create href="/quiz/new">CREATE </a>

    </div>
  </nav>

  <br />
  <!-- this is a for a git push, delete after -->
  <main class="main">
    <% for(let i=0; i < data.length; i++) { %>
      <section class="labels">
        <p>
          <%= data[i].category %>
        </p>
        <p>
          <%= data[i].date %>
        </p>
      </section>
      <br />
      <form class="form" id="quizForm">
        <section class="quiz">
          <h3>
            <%= data[i].question %>
          </h3>
          <input type="text" id="answer" placeholder="answer" />
        </section>
        <br />
        <section class="buttons flex-center">
          <!-- This is for the clipboard -->
          <button class="btn" data-clipboard-target="#value">Share URL</button>
          <input id="value" value="<%= textBox%>">
          <button id="submitQuiz" type="button">Submit</button>
        </section>
      </form>
      <div id='resultSection' class="flex-center hidden">
        <h3 id="resultCaption"></h3>
        <section class="buttons flex-center">
          <button id="next" type="button">Next</button>
        </section>
        <div>
          <% } %>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
  <script src="/scripts/quizAttempt.js"></script>
</body>
<script type="text/javascript"> new ClipboardJS(".btn"); </script>

</html>
