<!DOCTYPE html>
<html lang="en">

<head>
  <title>ATTEMPT QUIZ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/attemptquiz.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ribeye&family=Roboto:ital,wght@0,400;0,700;1,100;1,300&display=swap" rel="stylesheet">

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- External JS -->
</head>

<body>
  <nav> <%- include('partials/_navbar') %></nav>


  <h1>Try this Quiz!</h1>

  <main class = "main">
    <div>
      <label for="name">Please enter a name</label>
      <input type="text" name="name" placeholder="nickname" required/>
    </div>

    <br>

    <section>
      <form class = "form" method="post" action=" ">
        <div class = "quiz">
          <div>
            <label for="question">What is the answer to this question?</label>
          </div>

          <div>
            <textarea name="answer" placeholder="enter answer here" required></textarea>
          </div>
        </div>

        <br>

        <div class = "buttons">
          <button>Share Quiz</button>
          <button id=submit-new-quiz href="/quiz/attempt">Submit!</button>
          <!-- this doesnt work beceause we need a post /quiz request -->
        </div>
        </form>
    </section>

    <section class = "labels">
      <p>Category</p>
      <p>Date Created</p>
    </section>
  </main>
</body>

</html>
