<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>Do Quiz</title>
  <link rel="stylesheet" href="/styles/attemptquiz.css" type="text/css" />
</head>

<body>
  <nav>NAV BAR</nav>
  <div></div>
  <header></header>
  <br>
  <% for(let each of data) { %>
    <main class="main">
      <section class="labels">
        <p>
          <%= each.category %>
        </p>
        <p> QUIZ #
          <%= id %>
        </p>
        <p>
          <%= each.date %>
        </p>
      </section>
      <br>
      <form class="form" method="post" action=" ">
        <section class="quiz">
          <h3>
            <%= each.question %>
          </h3>
          <textarea></textarea>
          <% } %>
        </section>
        <br>
        <section class="buttons">
          <button>Share Quiz</button>
          <button>Submit</button>
        </section>
      </form>
    </main>
</body>

</html>
