<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>QUIZ Result</title>
  <link rel="stylesheet" href="/styles/attemptresults.css" type="text/css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
</head>

<body>

  <% for(let each of data) { %>}
    <main class="main">

      <p>
        <%= each.name %>
      </p>

      <% if(each.result) { %>

        <%= "RESULT: PASS" %>

          <% }else { %>
            <%= "RESULT: FAIL" %>

              <% } %>


                <% } %>


                  <section class="buttons">
                    <button class="btn" data-clipboard-target="#value">Share URL</button>
                    <input id="value" value="<%= textBox%>">
                  </section>
                  </form>
    </main>
</body>
<script type="text/javascript"> new ClipboardJS(".btn"); </script>

</html>
