<!DOCTYPE html>
<html lang="en">

<head>
  <title>QUIZ RESULTS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/attemptresults.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Ribeye&family=Roboto:ital,wght@0,400;0,700;1,100;1,300&display=swap"
    rel="stylesheet">

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- External JS -->
</head>

<body>
  <nav>NAV BAR</nav>
  <div></div>
  <header></header>

  <% for(let each of data) { %>}
    <main class="main">

      <p>
        <%= each.name %>
      </p>

      <% if(each.result) { %>

        <%= "RESULT: PASS" %>

          <% }else { %>
            <%= "RESULT: FAIL" %>

              <% } %>


                <% } %>


                  <section class="buttons">
                    <button>Share Attempt</button>
                  </section>
                  </form>
    </main>
    <!-- This is where we differ -->

    <nav>
      <%- include('partials/_navbar') %>
    </nav>

    <br>
    <main>

      <section class="score">
        <h3>SCORE</h3>

        <p style="color:rgb(0, 255, 0); font-weight:bold; font-size:50px;">PASS</p>
        <p style="color:rgb(255, 0, 0); font-weight:bold; font-size:50px;">FAIL</p>

      </section>

      <br>

      <section class="buttons">
        <div>
          <a id=tryRandom type="submit" href="/" style="padding:40px 80px;color:rgb(0,44,83);">
            SHARE RESULTS
          </a>
        </div>
        <br>

        <div>
          <a id=tryRandom type="submit" href="/quiz" style="padding:40px 70px;color:rgb(0,44,83);">
            TRY ANOTHER QUIZ
          </a>
        </div>
      </section>

    </main>


    <footer class=footer>
      <img src="https://miro.medium.com/max/1062/1*MrwxBQCtoacBEFkStaGprA.png">
      <br>
      <p>Jan 2022 - Devendra, Jaden, Nadia</p>
    </footer>
</body>

</html>
