<!DOCTYPE html>
<html lang="en">

<head>
  <title>QUIZ ATTEMPT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/attemptquiz.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ribeye&family=Roboto:ital,wght@0,400;0,700;1,100;1,300&display=swap" rel="stylesheet">

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="/scripts/quizAttempt.js"></script>

  <!-- External JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>

</head>

<body>

  <nav><%- include('partials/_navbar') %></nav>

  <main>
    <form class="form" id="quizForm">

      <label for="quiz">
        <h1 style="color:white; margin-top:30px">Try this Quiz!</h1>
      </label>

      <div>
        <label for="name" style="color:white">Please enter a name</label>
        <input type="text" name="name" placeholder="nickname" required />
      </div>
      <br>
    </form>



  <section>
    <% for(let each of data) { %>
    <form class="form" method="post" action=" ">
      <div class="quiz" style="font-size:40px;">
        <div>
          <label for="question">
            <%= each.question %>
          </label>
        </div>

        <br>

        <div>
          <textarea name="answer" placeholder="ENTER ANSWER HERE" required></textarea>
        </div>
      </div>

      <br>

      <div class="buttons">
        <button>Share Quiz</button>
        <button id=submit-new-quiz href="/quiz/attempt">Submit!</button>
        <!-- this doesnt work beceause we need a post /quiz request -->
      </div>

    </form>

    <div class="category_date">
      <p><%= each.category %></p>
      <p><%= each.date %></p>
    </div>

    <% } %>

  </section>
  </main>


  <footer>
    <img src="https://miro.medium.com/max/810/1*7wcPoKrXNYBZYTvDcHxhhA.png" <br>
    <p>Jan 2022 - Devendra, Jaden, Nadia</p>
  </footer>


</body>

</html>
