<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>QUIZ Result</title>
  <link rel="stylesheet" href="/styles/attemptresults.css" type="text/css" />
</head>

<body>
  <nav>NAV BAR</nav>
  <div></div>
  <header></header>

  <% for(let each of data) { %>}
    <main class="main">

      <p>
        <%= each.name %>
      </p>

      <% if(each.result) { %>

        <%= "RESULT: PASS" %>

          <% }else { %>
            <%= "RESULT: FAIL" %>

              <% } %>


                <% } %>


                  <section class="buttons">
                    <button>Share Attempt</button>
                  </section>
                  </form>
    </main>
</body>

</html>
