<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>Do Quiz</title>
  <link rel="stylesheet" href="/styles/attemptquiz.css" type="text/css" />
</head>

<body>
  <nav> INSERT NAV BAR HERE</nav>
  <hr>

  <h1>Try this Quiz!</h1>

  <main class = "main">
    <div>
      <label for="name">Please enter a name</label>
      <input type="text" name="name" placeholder="name" required/>
    </div>

    <br>

    <section>
      <form class = "form" method="post" action=" ">
        <div class = "quiz">
          <div>
            <label for="question">What is the answer to this question?</label>
          </div>

          <div>
            <textarea name="answer" placeholder="enter answer here" required></textarea>
          </div>
        </div>

        <br>

        <div class = "buttons">
          <button>Share Quiz</button>
          <button>Submit</button>
        </div>
        </form>
    </section>

    <section class = "labels">
      <p>Category</p>
      <p>Date Created</p>
    </section>
  </main>
</body>

</html>
