<!DOCTYPE html>
<html lang="en">

<head>
  <title>Do Quiz</title>
  <link rel="stylesheet" href="/styles/attemptquiz.css" type="text/css" />
</head>

<body>
  <nav>NAV BAR</nav>
  <div></div>
  <header></header>
  <br />
  <!-- this is a for a git push, delete after -->
  <% for(let each of data) { %>
    <main class="main">
      <section class="labels">
        <p>
          <%= each.category %>
        </p>
        <p>QUIZ # <%= id %>
        </p>
        <p>
          <%= each.date %>
        </p>
      </section>
      <br />
      <form class="form" id="quizForm">
        <section class="quiz">
          <h3>
            <%= each.question %>
          </h3>
          <input type="text" id="answer" placeholder="answer" />
          <% } %>
        </section>
        <br />
        <section class="buttons flex-center">
          <button id="shareQuiz" type="button">Share Quiz</button>
          <button id="submitQuiz" type="button">Submit</button>
        </section>
      </form>
      <div id='resultSection' class="flex-center hidden">
        <h3 id="resultCaption"></h3>
        <section class="buttons flex-center">
          <button id="next" type="button">Next</button>
        </section>
        <div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="/scripts/quizAttempt.js"></script>
</body>

</html>
