<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/home.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->

  <!-- External Google fonts-->

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- External JS -->

</head>

<body>

  <header>
    <!-- nav bar goes somewhere here inside the header-->
    <a>CREATE |</a>
    <a>HOME |</a>
    <a>SEARCH</a>
  </header>
  <hr>

  <!-- main container with all of the quizzes-->
  <main>
    <section>
      <h1>Welcome to QuikQuiz</h1>
      <hr>
    </section>

    <section>
      <article>
        <div>
          <h3>Quiz 1</h3>
          <footer>
            <div>Category</div>
            <div>Date X 2022</div>
          </footer>
        </div>
      </article>

      <article>
        <div>
          <h3>Quiz 2</h3>
          <footer>
            <div>Category</div>
            <div>Date Y 2022</div>
          </footer>
        </div>
      </article>

      <article>
        <div>
          <h3>Quiz 3</h3>
          <footer>
            <div>Category</div>
            <div>Date Z 2022</div>
          </footer>
        </div>
      </article>

      <article>
        <div>
          <h3>Quiz 4</h3>
          <footer>
            <div>Category</div>
            <div>Date A 2022</div>
          </footer>
        </div>
      </article>

      <article>
        <div>
          <h3>Quiz 5</h3>
          <footer>
            <div>Category</div>
            <div>Date B 2022</div>
          </footer>
        </div>
      </article>

      <article>
        <div>
          <h3>Quiz 6</h3>
          <footer>
            <div>Category</div>
            <div>Date C 2022</div>
          </footer>
        </div>
      </article>

    </section>
  </main>

</body>
</html>
