<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/home.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External Google fonts-->

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- External JS -->
</head>

<body>
  <!-- Navigation bar-->
  <nav>

  </nav>



  <header>
    <div>
      <h1>Welcome to QuikQuiz</h1>
    </div>
    <br>
    <div>
      <h2>Let's see what this looks like</h2>
    </div>
  </header>

  <!-- main container with all of the quizzes-->
  <main>

  </main>

</body>

</html>
