

/* Style the content */
main {
  background-color: #4947C8;
  padding: 10px;
  height: 900px;
}


// style the entire quiz area (which includes q&A)
.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:50px 50px;
  text-align: center;
  background-color:#66D6F7;
  padding: 100px;
}
/* Style the answer box */
.quiz textarea {
  float: center;
  width: 100%;
  padding: 50px;
  //border: none;
  border: 1px solid rgb(65, 0, 95);
  margin-top: 15px;
  margin-right: 15px;
  font-size: 20px;
}


.quiz textarea:hover {
  background: #D6E6F4;
}

/* Clear answer box after submission */
.quiz textarea::after {
  content: "";
  clear: both;
  display: table;
}

// share and submit buttons div
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // justify-content: center;
  align-items: center;
}

// style the category and date
.category_date {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  padding: 15px;
}
.category_date p {
  color: white;
}

/* Style the footer */
.footer {
  background-color: rgb(226, 226, 226);
}

img {
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
}


.hidden {
  display: none;
}
