/* Style the content */
.main {
  background-color: #6563ce;
  fill-opacity: 50%;
  padding: 10px;
  height: 600px;
}

#create-quiz-form {
  margin:50px 100px;
  text-align: center;
  background-color: #D6E6F4;
  padding: 100px;

}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



/* Style the footer */
.footer {
  background-color: #f1f1f1;
}
