// body {
//   font-family: 'Roboto', sans-serif;

/* Navigator moved to layout page" */

/* Style the header */
.header {
  width: 100%;
  height:500px;
  background-color:  #6563ce;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color:white;
  padding: 30px;
  font-family: 'Ribeye', cursive;
  text-align: center;
}

/* Style the categories section*/

.subject {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}


.categories {
  background-color: #F2F2F2;
  padding: 10px;
  height: 150px;

  }

.quizzes {
  text-align: center;
}


//style the footer
.footer {
  // background-color: #F2F2F2;
  background-color: #79c0e0;
  padding: 10px;
}

p {
  color: black;
  text-align: center;
}


.hidden {
  display: none;
}

