// body {
//   font-family: 'Roboto', sans-serif;
// }
.navigator {
  height: 200px;
  width: 100%;
  background-color: #6563ce;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: right;
  z-index: auto;
  // padding-top: 10%;
  margin-top: 20px; //likkle bit of space at the very top
  color: white;


}


.welcome {
  width: 100%;
  height:500px;
  background-color: #2f1bac;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
  color:white;
  font-family: 'Ribeye', cursive;



}
// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;

//   background: rgb(0, 0, 0);
//   background: linear-gradient(
//     227deg,
//     rgb(0, 200, 250) 0%,
//     rgb(0, 60, 255) 20%,
//     rgba(163, 173, 219, 1) 34%,
//     rgb(76, 0, 255) 59%,
//     rgb(238, 252, 255) 74%,
//     rgb(97, 113, 255) 100%
//   );
// }

#categories {
  width: 100%;
  display: inline-block;

  background-color: #F2F2F2;
}

#quizzes {
  background-color: #D6E6F4;
}

p {
  color: black;
}

#footer-end {
  background-color: #F2F2F2;
}
