// See: https://sass-lang.com/
// my custom stuff

p {
  color: black;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}


// this is the styling for the _navbar
* {
  box-sizing: border-box;
}

.navigator {
  overflow: hidden;
  background-color: #66D6F7;
}

/* Style the topnav links */
.navigator a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}
/* Change color on hover */
.navigator a:hover {
  background-color: #4947C8;
}


//style the footer
.footer {
  // background-color: #F2F2F2;
  // background-color: #79c0e0;
  background-color: #6563ce;
  padding: 10px;
}
